@page "/maingamepage"
@inject NavigationManager Navigation
@using System.Diagnostics
@using UpsAndDowns.GameLogic
@using UpsAndDowns.Components

<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="css/base.css" rel="stylesheet" />

<div class="game-grid">
    @foreach (var player in Players)
    {
        <PlayerDetailsComponent Player="@player" 
            Left="@($"{player.CardPosition.X}px")" 
            Top="@($"{player.CardPosition.Y}px")" 
        />    
    }
</div>

@code {
    public List<Player> Players { get; set; } = new List<Player>();

    protected override void OnInitialized()
    {
        Console.WriteLine($"MainGamePage: Building controls for {GameManager.Instance.Players.Count} players");
        Players = GameManager.Instance.Players;
    }
}