@page "/options"
@rendermode InteractiveServer

<PageTitle>Options</PageTitle>

<h1>Options Menu</h1>

<button class="btn btn-primary" @onclick="DoSomething">Do something</button>

@code {
    private void DoSomething()
    {
        
    }
}
