.game-grid {
    position: relative;
    margin-top: 20px;
    width: 100vh;
    height: 100vh;
}

.player-detail-component {
    position: absolute;
    background-color: black;
    height: 150px;
    width: 400px;
    padding: 10px;
    margin: 0px;
    color: wheat;
}

.modal-dialog {
    width: 700px;
}

.modal-content {
    height: 550px;
    width: 605px;
}

.player-menu-buttons {
    width: 110px;
    height: 70px;
    margin-bottom: 10px;
    background-color: blueviolet;
    font-weight: 500;
}

.player-menu-buttons.standard {
    background-color: blueviolet;
    color: white;
}

.player-menu-buttons.narrow {
    height: 45px;
}

.player-menu-buttons.narrow.red {
    background-color: red;
    color: white;
}

.player-menu-buttons.narrow.green {
    background-color: green;
    color: white;
}

.player-menu-buttons.assets {
    background-color: darkcyan;
    color: white;
}

.player-menu-buttons.life-events {
    background-color: goldenrod;
    color: black;
}

.btn.btn-secondary.ops-back {
    float: left;
}

.btn.btn-secondary.ops-close {
    float: right;
}